{% extends "layout.html" %}
{% block content %}

<h1>Current Verified Blockchain</h1>
<p style="color: rgb(253, 229, 229);">Backed by decentralized nodes.</p>
<div class="container">
	<div class="card-columns" display: inline-block>
		{% for block in blockchain.chain %}
		<div class="card border-primary mb-3" style="width: 16rem;">
			<div class="card-body">
				<h5 class="card-title">Block<small class="text-muted">({{loop.index}})</small></h5>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<span class="">Hash</span>
					<br>
					<div class="text-truncate">
						<small>{{ block.hash[0:20] }}</small>
					</div>
				</li>
				<li class="list-group-item">
					<span class="">Hash of previous block</span>
					<br>

					<div class="text-truncate">
						<small>{{ block.prev[0:20] }}</small>
					</div>
				</li>
				<li class="list-group-item">
					<span class="">Timestamp</span><br>
					<div class="text-truncate text-muted">
						<small>{{ block.time }}</small>
					</div>
				</li>
				<li class="list-group-item">
					<button class="btn btn-primary" type="button" data-toggle="collapse"
						data-target="#collapse{{loop.index}}" aria-expanded="false" aria-controls="collapse">
						View Transactions
					</button>
				</li>
				<li class="list-group-item">
					<div class="collapse" id="collapse{{loop.index}}">
						{% if loop.index == 1 %}
						<span class="">No Transactions</span>
						{% else %}
						{% for transaction in block.transactions %}
						<span class="">Transaction {{loop.index}}:</span>
						<br>
						<small>Sender: {{ transaction.sender }}</small>
						<br>
						<small>Reciever: {{ transaction.reciever }}</small>
						<br>
						<small>Amount: {{ transaction.amt }}</small>
						<br>
						<small>Time: {{ transaction.time }}</small>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</li>
			</ul>
		</div>


		{% endfor %}
	</div>
</div>





{% endblock content %}