<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  {% if title %}
  <title>KruCoin Cryptocurrency - {{ title }} </title>
  {% else %}
  <title>KruCoin Cryptocurrency</title>
  {% endif %}

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename = 'vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
    type="text/css">


  <!-- Page level plugin CSS-->
  <link href="{{ url_for('static', filename = 'vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet"
    type="text/css">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename = 'css/sb-admin.css')}}" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="{{ url_for('static', filename = 'vendor/jquery/jquery.min.js') }}"></script>
  <script>
    $(function () {
      $("#blockview").load("blockview.html");
    });
  </script>

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-light static-top " style="border-bottom: 2px solid black;">

    <a class="navbar-brand" href="/">
      <div class="logo-image">
        <img src="https://i.imgur.com/vlhyFyg.jpeg" style=" 
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
          margin-top: -5px;
      ">
      </div>
    </a> <a class="navbar-brand" href="{{ url_for('home') }}">KruCoin</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      {% if current_user.is_authenticated %}
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-tie"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="{{ url_for('account') }}">My Account</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
        </div>
      </li>

      {% else%}
      <li class="nav-item">
        <a class="nav-link grdntcolor" href=" {{ url_for('login') }}">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link grdntcolor" href=" {{ url_for('register') }}">Register</a>
      </li>
      {%endif%}


    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->

    <ul class="sidebar navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">
          <i class="fab fa-fort-awesome grdntcolor"></i>
          <span class="grdntcolor">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('blockchain') }}">
          <i class="fas fa-cubes grdntcolor"></i>
          <span class="grdntcolor">Blockchain Viewer</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('transaction') }}">
          <i class="far fa-credit-card grdntcolor"></i>
          <span class="grdntcolor">Make a Transaction</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('minerPage') }}">
          <i class="fas fa-gavel grdntcolor"></i>
          <span class="grdntcolor">Mine Blocks</span>
        </a>
      </li>

      <!-- Become a Node : Yet to implement -->

      <!-- <li class="nav-item">
        <a class="nav-link" href="{{ url_for('node') }}">
          <i class="fas fa-network-wired"></i>
          <span>Become a Node</span></a>
      </li> -->

      <!-- <li class="nav-item">
        <a class="nav-link" href="{{ url_for('purchase') }}">
          <i class="fas fa-store"></i>
          <span>Buy KruCoin</span></a>
      </li> -->

      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('account') }}">
          <i class="fas fa-user-astronaut grdntcolor"></i>
          <span class="grdntcolor">My Account</span></a>
      </li>
      {%endif%}


    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">


        {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        {% endwith %}
        <!-- Page Content -->
        <div class="container">
          {% block content %} {% endblock %}
        </div>

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span class="grdntcolor">Copyright © KruCoin 2021 | Under Development</span>
            <br><br>
            <span class="grdntcolor">Created by @<a style="color: rgb(164, 252, 255);" href="https://softkru.com/"
                target="_blank">SoftKru </a></span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->



  <script type="text/javascript"
    src="{{ url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script type="text/javascript"
    src="{{ url_for('static', filename = 'vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->

  <script type="text/javascript" src="{{ url_for('static', filename = 'js/sb-admin.min.js') }}"></script>

</body>

</html>